* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
  /* COLORS */
  --slate-primary: #1F314F;
  --slate-secondary: #68778D;
  --slate-tertiary: #D5E1EF;
  --white: #FFFFFF;

  /* FONTS */
  --font-family: "Outfit", sans-serif;
  --text: 400 1.375rem/1.20 var(--font-family);
  --text-sm: 700 .9375rem/1.40 var(--font-family);
}